:root {
    /* BASE */
    /* overrideable variables */
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Playfair Display", sans-serif;
    --font-stylus: "The Naturel Txt", sans-serif;
    --text-primary: #374151;
}